.discover-djs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    position: relative;
    top: 50%;
    margin-top: -0.75rem;
    margin-bottom: 1rem;
  }

  img {
    filter: grayscale(100%);
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  a {
    color: white;
    text-decoration: none;

    .read-bio {
      font-size: 1rem;
      position: relative;
      top: 55%;
      background: rgba(0, 0, 0, 0.2);
      padding: 0.4rem 3rem;
      border: 1px solid white;
    }

    &:hover img {
      opacity: 0.3;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }

  .overlay {
    transition: 0.5s ease;
    opacity: 0;
    margin-top: -317px;
    border: 16px solid black;
    background: rgba(0, 0, 0, 0.4);
    width: 410px;
    height: 317px;
    top: 0;
    left: 0%;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    text-align: center;
  }
}
