.featured-artists {
  color: $black;
  padding: 3rem 10%;

  ul {
    display: flex;
    margin: 2rem auto;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 1.1rem;
      font-weight: 700;
    }
  }
}

.featured-artist-img {
  border-radius: 50%;
}
