.featured-artists {
  color: $black;
  padding: 3rem 10%;
  margin: 5rem auto;

  ul {
    display: flex;
<<<<<<< HEAD
  }
=======
    margin: 2rem auto;
    overflow-x: scroll;
    overflow-y: hidden;
>>>>>>> 99d619ac933e6c39c787f4b4c63a992cf73f76b7

    li {
      min-width: 300px;
      min-height: 300px;
    }
  }
}
<<<<<<< HEAD

.featured-artist-img {
  border-radius: 50%;
}

div.featured-artists {
  margin: 4px, 4px; 
  padding: 4px; 
  background-color: #08c708; 
  width: 300px; 
  overflow: auto; 
  white-space: nowrap; 
}
=======
>>>>>>> 99d619ac933e6c39c787f4b4c63a992cf73f76b7
