.featured-artists {
  color: $black;
  padding: 3rem 10%;

  ul {
    display: flex;
    margin: 2rem auto;
    overflow-x: scroll;
    overflow-y: hidden;

    li {
      min-width: 300px;
      min-height: 300px;
    }
  }
  @media (max-width: 575px) {
    padding: 0.5rem;

    a {
      width: 140px;
    }

    img,
    li {
      width: 100px;
      height: 100px;
    }

    ul {
      height: 200px;
    }
  }
}
