.spacer {
  height: 207px;
}

header#main {
  top: 0;
  height: 207px;
  background: $dark-gray;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 10%;
  z-index: 4;

  nav {
    display: flex;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
  }

  nav button {
    display: none;
    background-color: transparent;
    border: none;
  }

  nav a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }

  ul li:not(:first-child) {
    margin-bottom: 24px;
    a {
      padding: 4px;
      &:hover {
        border-bottom: 3px solid darken($purple, 17%);
      }
    }
  }

  @media (max-width: 575px) {
    height: auto;
    padding: 0;

    nav button {
      display: inline;
      position: absolute;
      top: calc(50% - 12px);
      margin: 0 -24px 0 24px;
    }

    ul {
      margin: 0;
      width: 100vw;
      justify-content: center;
    }

    ul li:not(:first-child) {
      display: none;
    }

    ul li:first-child a {
      margin: 0;
    }

    ul.nav-menu-open li:not(:first-child) {
      margin-bottom: 24px;
      a {
        padding: 4px;
        &:hover {
          border-bottom: 3px solid darken($purple, 17%);
        }
      }
    }
  }

  .active {
    border-bottom: 3px solid $purple;
  }
}
