<<<<<<< HEAD
.mainHeader {
    background: $dark-gray;
    height: 12rem;
    width: 90rem;
    position: fixed;
    z-index: 4;
    top: 0;
}

.link{
    color: #eeeeee;
    margin: .5rem;
}
=======
.spacer {
  height: 207px;
}

header#main {
  top: 0;
  height: 207px;
  background: $dark-gray;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 0 10%;
  z-index: 4;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
  }

  .logo {
    padding-top: 30px;
  }

  nav a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin-right: 40px;
  }
  ul li:not(:first-child) {
    margin-bottom: 24px;
    a {
      padding: 4px;
      &:hover {
        border-bottom: 3px solid darken($purple, 17%);
      }
    }
  }

  .active {
    border-bottom: 3px solid $purple;
  }
}
>>>>>>> 99d619ac933e6c39c787f4b4c63a992cf73f76b7
