.shows-feature {
  background: $dark-gray;
  color: $white;

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      color: $white;
    }
  }
  p {
    color: $white;
  }
  p[role='doc-subtitle'] {
    text-transform: uppercase;
    color: white;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  .show-card {
    background: $haze;
    color: $black;
    padding: 50px;
  }
  .show-card-img {
    border: 0 solid red;
    border-radius: 23px;
  }
}
