.show-list {
  a {
    color: black;
    text-decoration: none;
  }
}

.show-card {
  display: flex;
  width: 700px;
  height: 296px;
  background: $pale-purple;
  margin: 4rem auto;

  &:hover {
    background: darken($pale-purple, 4%);
  }
}

.show-card-info {
  display: flex;
  flex-direction: column;
  position: relative;
  .time {
    margin-bottom: 50px;
  }
  .dj {
    font-weight: 800;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clear-purp;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 50px -100px 40px -24px;
  width: 466px;
  height: 100px;
  font-size: 2rem;
}

.radio-show {
  overflow: hidden;
  background-color: $dark-gray;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.show-page-background {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: -50vh;
  filter: blur(20px);
  transform: rotate(-9deg);
  height: 300%;
  width: 200vw;
}

.about-radio-show {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -200px -40%;
  width: 80%;
  display: flex;
  padding: 20px;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.47)
  );

  .show-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 360px;
    padding-left: 40px;
  }

  h2 {
    color: white;
  }

  p {
    color: black;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .time-and-day {
    text-transform: capitalize;
  }

  .dj {
    font-weight: 700;
  }

  img {
    min-width: 360px;
    min-height: 360px;
  }
}
