.show-card {
  display: flex;
  width: 700px;
  height: 296px;
  background: $pale-purple;
  margin: 4rem auto;
}

.title {
  background: $clear-purp;
  text-align: center;
  width: 520px;
  height: 100px;
  font-size: 2rem;
}
