.shows-feature {
  background: $dark-gray;
  color: $white;
  padding: 2rem 10%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      color: $white;
    }
  }

  p {
    color: $white;
  }
  p[role='doc-subtitle'] {
    text-transform: uppercase;
    color: white;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    li {
      margin: 20px;
    }
  }

  .show-square {
    background: $haze;
    color: $black;
    padding: 50px;

    h3 {
      font-size: 2.375rem;
      font-weight: 700;
    }

    p {
      color: $black;
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 500;
    }

    p.dj {
      font-weight: 700;
    }
  }

  .show-square-img {
    border: 0 solid $haze;
    border-radius: 23px;
  }

  .content-container {
    position: relative;
  }

  .info {
    position: absolute;
    bottom: -400px;
    padding: 2.5rem;
    background: transparentize($haze, 0.5);
    min-height: 35%;
    width: 100%;
    h3 {
      color: black;
    }
  }
}

.explore-show {
  .show-square {
    background: $haze;
    color: $black;
    margin: 20px;
    padding: 20px;
    position: relative;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      color: $black;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
    }

    p.dj {
      font-weight: 700;
    }
  }
  
  .show-square-img {
    border: 0 solid $haze;
    border-radius: 23px;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .info {
    position: absolute;
    bottom: 20px;
    padding: 2.5rem;
    background: transparentize($haze, 0.5);
    width: 100%;
    h3 {
      color: black;
    }
  }
}

