$black: hsl(0, 0%, 0%);
$dark-gray: #292929;
$charcoal: #414141;
$gray: #5d5d5d;
$light-gray: #979799;
$background: #fafcfc;
$haze: #eeeefb;
$purple: #9c3be0;
$clear-purp: rgba(200, 122, 255, 0.33);
$pale-purple: #d5d6f9;
$white: #ffffff;
