$background: #fafcfc;
$dark-gray: #292929;
$light-gray: #979799;
$haze: #eeeefb;
$purple: #9c3be0;
$clear-purp: rgba(200, 122, 255, 0.33);
$pale-purple: #d5d6f9;
$black: hsl(0, 0%, 0%);
$white: #ffffff;
