@import 'reset';
@import 'variables';
@import 'header';
@import 'player';
@import 'about';
@import 'artist-show';
@import 'artist-circle';
@import 'artist-discover';
@import 'featured-artists';
@import 'explore';
@import 'dj-card';
@import 'shows-feature';
@import 'shows';
@import 'support';
@import 'footer';

body {
  background: $background;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

h2 {
  font-size: 2.75rem;
  font-weight: 700;
}

p[role='doc-subtitle'] {
  text-transform: uppercase;
}
